body{
    background: #f0f0f0;
    font-family: 'Lato', sans-serif;
    padding: 60px 0;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat', sans-serif; 
}
.container{
    max-width: 100%;
}
#app{
    font-family: 'Lato', sans-serif;
}